@import url(https://cdn.jsdelivr.net/npm/firacode@1.205.0/distr/fira_code.css);

section.main-content {
  .container {
    max-width: 48em;
    padding: 1em;
  }
  pre {
    background-color: transparent;
    height: auto;
    padding: 0;
    code {
      font-family: 'Fira Code', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 10px;
    }
  }
  .upload-box {
    display: block;
    font-weight: 700;
    padding: 4em;
    text-align: center;
    &.is-drop-over {
      background-color: #3f3f3f;
      color: #cecece;
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.6), 0 0 0 1px rgba(10, 10, 10, 0.6);
    }
  }
}
