<section class="hero is-info">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" i18n>
            Mobile&nbsp;
            <i class="fa fa-flask"></i>&nbsp;
            <sub>zLab</sub>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-info is-inverted" href="https://github.com/SCys/MobileZ">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Github</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="main-content">
  <div class="container">
    <h3 i18n>Use in terminal.</h3>

    <pre>
      <code highlight>
$ # support upload anything from terminal and web pager
$ curl --data "@/path/to/filename" https://mz.ci/0x0
{{ code_output }}
$ curl https://mz.ci/0x728A94 -o download.filename
      </code>
    </pre>

    <div class="upload-box box" ngFileDrop [options]="uploadOptions" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
      [ngClass]="{ 'is-drop-over': dragOver }">

      <p>
        <i class="fas fa-file-medical-alt fa-4x"></i>
      </p>

      <br>


      <div *ngIf="uploadFile !== null; else helpMsg">
        <p class="has-text-centered" i18n>File: {{uploadFile.name}} {{humanizeBytes(uploadFile.size)}}</p>

        <div *ngIf="uploadFile?.progress?.status != 0 && uploadFile?.progress?.data?.percentage > 0 && uploadFile?.progress?.data?.percentage != 100">
          <div>
            <span>{{ uploadFile.progress?.data?.percentage }} %</span>
            /
            <span>{{ uploadFile.progress?.data?.speedHuman }}</span>
            /
            <span>ETA {{ uploadFile.progress?.data?.etaHuman }}</span>
          </div>

          <progress class="progress is-info" [value]="uploadFile?.progress?.data?.percentage" max="100">{{uploadFile?.progress?.data?.percentage}}%</progress>

          <a class="button" (click)="cancelUpload()" i18n>Cancel upload</a>
        </div>

        <div *ngIf="uploadFile?.responseStatus == '200'">
          <p i18n>Uploaded</p>

          <br>

          <div *ngIf="uploadFile?.response !== undefined">
            <p i18n>URL:
              <a (click)="copyIt(uploadFile?.response.data?.url)">{{uploadFile?.response.data?.url}}</a>&nbsp;
              <span i18n>click link to copy</span>
            </p>
            <p i18n>Expired at: {{uploadFile?.response.data?.expired_at}}</p>
          </div>
        </div>
      </div>
      <ng-template #helpMsg>
        <p class="has-text-centered" i18n>Drag and drop file here.</p>
      </ng-template>

      <br>

      <!-- <a class="button is-info">Upload File</a> -->
    </div>

  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>@2018 Mobile zLab By SCys</p>

      <p>Base on <a href="https://bulma.io">Bulma</a> / <a href="https://fontawesome.com">Font Awesome</a> / <a href="https://angular.io">Angular 6.x</a> / <a href="https://python.org">Python 3.x</a></p>
    </div>
  </div>
</footer>